@import "tailwindcss";

@theme {
  --animate-gradient-x: gradient-x 3s ease infinite;

  @keyframes gradient-x {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

html {
  scroll-behavior: smooth;
}
